In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Importing data

In [64]:
historical_data = pd.read_csv (r"C:\Users\siban\Desktop\Energy market analysis\Dataset\historical_energy_data.csv")
infrastructure_data = pd.read_csv (r"C:\Users\siban\Desktop\Energy market analysis\Dataset\infrastructure_data.csv")
market_data = pd.read_csv (r"C:\Users\siban\Desktop\Energy market analysis\Dataset\market_data.csv")
regulatory_data = pd.read_csv (r"C:\Users\siban\Desktop\Energy market analysis\Dataset\regulatory_data.csv")

## Loading data

In [68]:
historical_data.head()

,Date/Time,Location/Region,Energy Source,Energy Demand,Energy Consumption (kWh),Energy Price,Operational Costs,Energy Production (kWh)
0,2012-01-01,Region A,Fossil Fuels,24016,21848,0.131630,1564.239198,31604
1,2012-01-02,Region C,Fossil Fuels,56200,34796,0.160969,3837.295411,11734
2,2012-01-03,Region A,Renewables,81268,36244,0.155890,4418.260676,31523
3,2012-01-04,Region C,Fossil Fuels,61287,19955,0.130128,3743.417970,21205
4,2012-01-05,Region B,Fossil Fuels,93447,13788,0.151835,1071.513936,19548

In [69]:
infrastructure_data.head()

,Date/Time,Infrastructure Status,Maintenance Activities,Technology Limitations
0,2012-01-01,Poor,Repairs,High
1,2012-01-02,Poor,Upgrades,High
2,2012-01-03,Fair,Upgrades,High
3,2012-01-04,Poor,Repairs,High
4,2012-01-05,Poor,Repairs,High

In [70]:
market_data.head()

   Date/Time  Market Price Competitor Data Market Trends  Market Demand
0 2012-01-01      0.167891            High        Upward          13518
1 2012-01-02      0.151762          Medium        Upward           2115
2 2012-01-03      0.241443            High        Stable          22353
3 2012-01-04      0.071104             Low      Downward          25482
4 2012-01-05      0.107281            High        Stable          20264

In [71]:
regulatory_data.head()

   Date/Time Regulatory Changes Compliance Status  Compliance Costs
0 2012-01-01     New Regulation         Compliant       3281.685306
1 2012-01-02          Amendment     Non-compliant       2037.272281
2 2012-01-03          Amendment     Non-compliant        629.891778
3 2012-01-04     New Regulation     Non-compliant       2277.898351
4 2012-01-05          Amendment     Non-compliant       4687.163688

## Undrstanding the structure of data

In [83]:
historical_data.info()
historical_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date/Time                 1000 non-null   datetime64[ns]
 1   Location/Region           1000 non-null   object
 2   Energy Source             1000 non-null   object
 3   Energy Demand             1000 non-null   int64
 4   Energy Consumption (kWh)  1000 non-null   int64
 5   Energy Price              1000 non-null   float64
 6   Operational Costs         1000 non-null   float64
 7   Energy Production (kWh)   1000 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 62.6+ KB

,Date/Time,Energy Demand,Energy Consumption (kWh),Energy Price,Operational Costs,Energy Production (kWh)
count,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2013-05-14 12:00:00,49336.335000,24249.533000,0.126752,3002.452425,25502.488000
min,2012-01-01 00:00:00,1015.000000,505.000000,0.050368,1000.630978,850.000000
25%,2012-09-06 18:00:00,25812.750000,12017.750000,0.091048,1957.452731,13235.750000
50%,2013-05-14 12:00:00,49398.500000,23178.000000,0.126799,2954.748776,24946.000000
75%,2014-01-19 06:00:00,73877.500000,36563.000000,0.163701,4095.759662,37653.250000
max,2014-09-26 00:00:00,99941.000000,49985.000000,0.199951,4995.000138,49936.000000
std,NaN,28215.243714,14092.904681,0.042857,1189.898418,14057.976149

In [74]:
infrastructure_data.info()
infrastructure_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date/Time               1000 non-null   datetime64[ns]
 1   Infrastructure Status   1000 non-null   object
 2   Maintenance Activities  1000 non-null   object
 3   Technology Limitations  987 non-null    object
dtypes: datetime64[ns](1), object(3)
memory usage: 31.4+ KB

                 Date/Time
count                 1000
mean   2013-05-14 12:00:00
min    2012-01-01 00:00:00
25%    2012-09-06 18:00:00
50%    2013-05-14 12:00:00
75%    2014-01-19 06:00:00
max    2014-09-26 00:00:00

In [75]:
regulatory_data.info()
regulatory_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           1000 non-null   datetime64[ns]
 1   Regulatory Changes  1000 non-null   object
 2   Compliance Status   1000 non-null   object
 3   Compliance Costs    1000 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 31.4+ KB

                 Date/Time  Compliance Costs
count                 1000       1000.000000
mean   2013-05-14 12:00:00       2841.451262
min    2012-01-01 00:00:00        503.841638
25%    2012-09-06 18:00:00       1778.330823
50%    2013-05-14 12:00:00       2906.980088
75%    2014-01-19 06:00:00       3892.981360
max    2014-09-26 00:00:00       4987.232664
std                    NaN       1276.101688

In [76]:
market_data.info()
market_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date/Time        1000 non-null   datetime64[ns]
 1   Market Price     1000 non-null   float64
 2   Competitor Data  1000 non-null   object
 3   Market Trends    1000 non-null   object
 4   Market Demand    1000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 39.2+ KB

                 Date/Time  Market Price  Market Demand
count                 1000   1000.000000    1000.000000
mean   2013-05-14 12:00:00      0.139154   25392.807000
min    2012-01-01 00:00:00      0.030053     836.000000
25%    2012-09-06 18:00:00      0.084488   13515.250000
50%    2013-05-14 12:00:00      0.138719   24910.500000
75%    2014-01-19 06:00:00      0.192279   37102.750000
max    2014-09-26 00:00:00      0.249960   49941.000000
std                    NaN      0.063492   13980.103619

#### -- There is only one columm that need to be changed is the date/time column of all tables.
#### -- These are in object form, need to be changed into date/time d-type.
#### -- Also need to change the format to yy-mm-dd

## ------

## Data Cleaning

#### Changing all the date/time column from object d-type to date-time d-type

In [67]:
# For dd/mm/yyyy format
historical_data['Date/Time'] = pd.to_datetime(
    historical_data['Date/Time'],
    format="%d/%m/%Y",
    errors='coerce'
)
infrastructure_data['Date/Time'] = pd.to_datetime(
    infrastructure_data['Date/Time'],
    format="%d/%m/%Y",
    errors='coerce'
)

# For yyyy-mm-dd format
market_data['Date/Time'] = pd.to_datetime(
    market_data['Date/Time'],
    format="%Y-%m-%d",
    errors='coerce'
)
regulatory_data['Date/Time'] = pd.to_datetime(
    regulatory_data['Date/Time'],
    format="%Y-%m-%d",
    errors='coerce'
)

#### Aggregating and resampling historical dataset

In [82]:
historical_data.head()

,Date/Time,Location/Region,Energy Source,Energy Demand,Energy Consumption (kWh),Energy Price,Operational Costs,Energy Production (kWh)
0,2012-01-01,Region A,Fossil Fuels,24016,21848,0.131630,1564.239198,31604
1,2012-01-02,Region C,Fossil Fuels,56200,34796,0.160969,3837.295411,11734
2,2012-01-03,Region A,Renewables,81268,36244,0.155890,4418.260676,31523
3,2012-01-04,Region C,Fossil Fuels,61287,19955,0.130128,3743.417970,21205
4,2012-01-05,Region B,Fossil Fuels,93447,13788,0.151835,1071.513936,19548

In [79]:
hist_daily_total = (historical_data.groupby(['Date/Time', 'Location/Region', 'Energy Source'], as_index = False).agg({'Energy Production (kWh)': 'sum', 'Energy Consumption (kWh)': 'sum', 'Energy Demand': 'sum', 'Energy Price': 'mean', 'Operational Costs': 'sum' }))

#### Merging all the dataset into one

In [85]:
merged = hist_daily_total.merge(
    market_data,
    on = 'Date/Time',
    how = 'left',
    suffixes = ('','_market'))

In [87]:
merged = merged.merge(
    infrastructure_data,
    on = 'Date/Time',
    how = 'left',
    suffixes = ('','_infra'))

In [88]:
merged = merged.merge(
    regulatory_data,
    on = 'Date/Time',
    how = 'left',
    suffixes = ('','_reg'))

In [139]:
merged.head()

,Date/Time,Location/Region,Energy Source,Energy Production (kWh),Energy Consumption (kWh),Energy Demand,Energy Price,Operational Costs,Market Price,Competitor Data,...,Regulatory Changes,Compliance Status,Compliance Costs,Production Efficiency,Cost per kWh,Price Competitiveness,Demand Gap,Tech Limitation Score,Compliance Cost Ratio,Regulation Impact
0,2012-01-01,Region A,Fossil Fuels,31604,21848,24016,0.131630,1564.239198,0.167891,High,...,New Regulation,Compliant,3281.685306,1.315956,0.049495,-0.038370,-7588,3.0,2.097942,1
1,2012-01-02,Region C,Fossil Fuels,11734,34796,56200,0.160969,3837.295411,0.151762,Medium,...,Amendment,Non-compliant,2037.272281,0.208790,0.327024,0.010969,44466,3.0,0.530913,1
2,2012-01-03,Region A,Renewables,31523,36244,81268,0.155890,4418.260676,0.241443,High,...,Amendment,Non-compliant,629.891778,0.387889,0.140160,-0.084110,49745,3.0,0.142566,1
3,2012-01-04,Region C,Fossil Fuels,21205,19955,61287,0.130128,3743.417970,0.071104,Low,...,New Regulation,Non-compliant,2277.898351,0.345995,0.176535,0.060128,40082,3.0,0.608507,1
4,2012-01-05,Region B,Fossil Fuels,19548,13788,93447,0.151835,1071.513936,0.107281,High,...,Amendment,Non-compliant,4687.163688,0.209188,0.054815,0.041835,73899,3.0,4.374354,1

#### There are 13 missing fields in 'Technology_limitations' field so filling them with 'Unknown'

In [91]:
merged['Technology Limitations'] = merged['Technology Limitations'].fillna('Unknown')

#### Checking missing values

In [92]:
merged.isna().sum().sort_values(ascending=False)

Date/Time                   0
Location/Region             0
Energy Source               0
Energy Production (kWh)     0
Energy Consumption (kWh)    0
Energy Demand               0
Energy Price                0
Operational Costs           0
Market Price                0
Competitor Data             0
Market Trends               0
Market Demand               0
Infrastructure Status       0
Maintenance Activities      0
Technology Limitations      0
Regulatory Changes          0
Compliance Status           0
Compliance Costs            0
dtype: int64

### ----
## KPI Calculations

### 1. Production Efficiency
merged['Production Efficiency'] = (
    merged['Energy Production (kWh)'] / merged['Energy Demand (kWh)']
)

### 2. Cost per kWh
merged['Cost per kWh'] = (
    merged['Operational Costs (USD)'] / merged['Energy Production (kWh)']
)

### 3. Price Competitiveness
merged['Price Competitiveness'] = (
    merged['Energy Price (USD/kWh)'] - merged['Market Price (USD/kWh)']
)

### 4. Demand Gap
merged['Demand Gap'] = (
    merged['Market Demand (kWh)'] - merged['Energy Demand (kWh)']
)

### 5. Tech Limitation Score (map categorical to numeric risk score)
risk_map = {
    'None': 0,
    'Low': 1,
    'Moderate': 2,
    'High': 3,
    'Unknown': None
}
merged['Tech Limitation Score'] = merged['Technology Limitations'].map(risk_map)

### 6. Compliance Cost Ratio
merged['Compliance Cost Ratio'] = (
    merged['Compliance Costs (USD)'] / merged['Operational Costs (USD)']
)

### 7. Regulation Impact Days (boolean flag: 1 if any change reported, else 0)
merged['Regulation Impact'] = merged['Regulatory Changes'].notna().astype(int)

In [143]:
merged['Production Efficiency'] = merged['Energy Production (kWh)'] / merged['Energy Demand'].round(2)

merged['Cost per kWh'] = ( merged['Operational Costs'] / merged['Energy Production (kWh)'].round(2) )

merged['Price Competitiveness'] = ( merged['Energy Price'] - merged['Market Price'].round(2) )

merged['Demand Gap'] = ( merged['Energy Demand'] - merged['Energy Production (kWh)'])

risk_map = { 'None': 0, 'Low': 1, 'Moderate': 2, 'High': 3, 'Unknown': None } 
merged['Tech Limitation Score'] = merged['Technology Limitations'].map(risk_map)

merged['Compliance Cost Ratio'] = merged['Compliance Costs'] / merged['Operational Costs'].round(2) 

merged['Regulation Impact'] = (merged['Regulatory Changes'] != 'No change').astype(int)

# 8. Renewable Energy Share (%)
# First, calculate total energy production from all sources.
total_production = merged['Energy Production (kWh)'].sum()

# Next, calculate the total energy production from renewable sources.
renewable_production = merged[merged['Energy Source'] == 'Renewables']['Energy Production (kWh)'].sum()

# Calculate the share as a percentage.
merged[renewable_energy_share] = (renewable_production / total_production) * 100

# Check the first few rows to verify the new KPI columns
print("First 5 rows of the merged dataframe with new KPIs:")
print(merged.head())
print("\n--- Summary KPIs ---")
print(f"Renewable Energy Share: {renewable_energy_share:.2f}%")

First 5 rows of the merged dataframe with new KPIs:
   Date/Time Location/Region Energy Source  Energy Production (kWh)  \
0 2012-01-01        Region A  Fossil Fuels                    31604
1 2012-01-02        Region C  Fossil Fuels                    11734
2 2012-01-03        Region A    Renewables                    31523
3 2012-01-04        Region C  Fossil Fuels                    21205
4 2012-01-05        Region B  Fossil Fuels                    19548

   Energy Consumption (kWh)  Energy Demand  Energy Price  Operational Costs  \
0                     21848          24016      0.131630        1564.239198
1                     34796          56200      0.160969        3837.295411
2                     36244          81268      0.155890        4418.260676
3                     19955          61287      0.130128        3743.417970
4                     13788          93447      0.151835        1071.513936

   Market Price Competitor Data  ... Compliance Status  Compliance Costs  \
0      0.167891            High  ...         Compliant       3281.685306
1      0.151762          Medium  ...     Non-compliant       2037.272281
2      0.241443            High  ...     Non-compliant        629.891778
3      0.071104             Low  ...     Non-compliant       2277.898351
4      0.107281            High  ...     Non-compliant       4687.163688

  Production Efficiency Cost per kWh Price Competitiveness Demand Gap  \
0              1.315956     0.049495             -0.038370      -7588
1              0.208790     0.327024              0.010969      44466
2              0.387889     0.140160             -0.084110      49745
3              0.345995     0.176535              0.060128      40082
4              0.209188     0.054815              0.041835      73899

  Tech Limitation Score  Compliance Cost Ratio  Regulation Impact  48.837635
0                   3.0               2.097942                  1  48.837635
1                   3.0               0.530913                  1  48.837635
2                   3.0               0.142566                  1  48.837635
3                   3.0               0.608507                  1  48.837635
4                   3.0               4.374354                  1  48.837635

[5 rows x 26 columns]

--- Summary KPIs ---
Renewable Energy Share: 48.84%

#### Import to CSV

In [133]:
try:
    merged.to_excel('kpi_output1.xlsx', index=False)
    print("\nSuccessfully saved the final DataFrame to 'kpi_output.xlsx'")
except Exception as e:
    print(f"Error saving file: {e}")

Successfully saved the final DataFrame to 'kpi_output.xlsx'

## Ploting and Visualisation

In [134]:
# 1. Plot for Demand Fluctuations (Business Problem A)
# Line chart to show how the Demand Gap changes over time
plt.figure(figsize=(12, 6))
plt.plot(merged['Date/Time'], merged['Demand Gap'], label='Demand Gap (kWh)', color='royalblue')
plt.axhline(0, color='red', linestyle='--', label='Zero Demand Gap')
plt.title('Demand Gap Over Time')
plt.xlabel('Date')
plt.ylabel('Demand Gap (kWh)')
plt.legend()
plt.grid(True, linestyle='--', alpha=0.6)
plt.tight_layout()
plt.savefig('demand_gap_plot.png')
print("Generated 'demand_gap_plot.png'")
plt.close()

Generated 'demand_gap_plot.png'

In [136]:
# 3. Plot for Regulatory Changes (Business Problem C)
# Line plot of Compliance Costs with markers for regulatory changes
plt.figure(figsize=(12, 6))
plt.plot(merged['Date/Time'], merged['Compliance Costs'], label='Compliance Costs', color='darkorange')
# Plot markers only on days with a regulation impact
regulation_days = merged[merged['Regulation Impact'] == 1]
plt.scatter(regulation_days['Date/Time'], regulation_days['Compliance Costs'], color='red', zorder=5, label='Regulation Change')
plt.title('Compliance Costs with Regulation Impact')
plt.xlabel('Date')
plt.ylabel('Compliance Costs (USD)')
plt.legend()
plt.grid(True, linestyle='--', alpha=0.6)
plt.tight_layout()
plt.savefig('compliance_cost_plot.png')
print("Generated 'compliance_cost_plot.png'")
plt.close()

Generated 'compliance_cost_plot.png'

In [141]:
# 6. New Plot: Regulation Impact vs. Production Efficiency
# Prepare data for the box plot
data_to_plot_efficiency = [
    merged[merged['Regulation Impact'] == 0]['Production Efficiency'], # Days without regulation impact
    merged[merged['Regulation Impact'] == 1]['Production Efficiency']  # Days with regulation impact
]
labels_efficiency = ['No Regulation Impact', 'Regulation Impact']

plt.figure(figsize=(8, 6))
plt.boxplot(data_to_plot_efficiency, patch_artist=True, labels=labels_efficiency,
            boxprops=dict(facecolor='lightgreen', color='green'),
            medianprops=dict(color='red'))
plt.title('Production Efficiency Distribution with Regulation Impact')
plt.xlabel('Regulatory Status')
plt.ylabel('Production Efficiency')
plt.grid(True, linestyle='--', alpha=0.6)
plt.tight_layout()
plt.savefig('efficiency_vs_regulation.png')
print("Generated 'efficiency_vs_regulation.png'")
plt.close()

C:\Users\siban\AppData\Local\Temp\ipykernel_10756\2919998378.py:10: MatplotlibDeprecationWarning: The 'labels' parameter of boxplot() has been renamed 'tick_labels' since Matplotlib 3.9; support for the old name will be dropped in 3.11.
  plt.boxplot(data_to_plot_efficiency, patch_artist=True, labels=labels_efficiency,

Generated 'efficiency_vs_regulation.png'

In [144]:
# Assuming the 'merged' dataframe is already created and populated
# Filter the dataframe for only renewable energy sources
renewable_data = merged[merged['Energy Source'] == 'Renewables']

# Calculate the average production efficiency for renewables
average_renewable_efficiency = renewable_data['Production Efficiency'].mean().round(2)

print(f"The average efficiency of renewable energy production is: {average_renewable_efficiency}")

The average efficiency of renewable energy production is: 1.18

In [147]:
# 7. New Plot: Infrastructure Limitation vs. Compliance Cost
# Scatter plot to show the relationship between tech score and compliance costs
plt.figure(figsize=(10, 6))
plt.scatter(merged['Tech Limitation Score'], merged['Compliance Costs'], alpha=0.5, color='darkred')
plt.title('Compliance Costs vs. Tech Limitation Score')
plt.xlabel('Tech Limitation Score (0 = None, 3 = High)')
plt.ylabel('Compliance Costs (USD)')
plt.grid(True, linestyle='--', alpha=0.6)
plt.tight_layout()
plt.savefig('tech_limitation_vs_compliance_cost.png')
print("Generated 'tech_limitation_vs_compliance_cost.png'")
plt.close()

Generated 'tech_limitation_vs_compliance_cost.png'